<div class="registration-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="p-card registration-card" fxFlex="400px">
    <div class="card-title">FORMULÁRIO DE REGISTRO</div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <!-- Nome de usuário -->
      <div class="form-group">
        <label for="username">Nome de usuário</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input id="username" type="text" pInputText formControlName="username" placeholder="Digite seu nome de usuário" class="p-inputtext-sm" />
        </div>
        <p-message severity="error" text="Nome de usuário é obrigatório." *ngIf="registrationForm.get('username')?.touched && registrationForm.get('username')?.errors?.['required']" styleClass="error-message"></p-message>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input id="email" type="email" pInputText formControlName="email" placeholder="Digite seu email" class="p-inputtext-sm" />
        </div>
        <p-message severity="error" text="Email é obrigatório." *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.errors?.['required']" styleClass="error-message"></p-message>
        <p-message severity="error" text="Formato de email inválido." *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.errors?.['email']" styleClass="error-message"></p-message>
      </div>

      <!-- Senha -->
      <div class="form-group">
        <label for="password">Senha</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input id="password" type="password" pInputText formControlName="password" placeholder="Digite sua senha" class="p-inputtext-sm" />
        </div>
        <p-message severity="error" text="Senha é obrigatória." *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.errors?.['required']" styleClass="error-message"></p-message>
        <p-message severity="error" text="A senha deve ter pelo menos 6 caracteres." *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.errors?.['minlength']" styleClass="error-message"></p-message>
      </div>

      <!-- Confirmar Senha -->
      <div class="form-group">
        <label for="confirm-password">Confirmar Senha</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input id="confirm-password" type="password" pInputText formControlName="confirmPassword" placeholder="Confirme sua senha" class="p-inputtext-sm" />
        </div>
        <p-message severity="error" text="A confirmação da senha é obrigatória." *ngIf="registrationForm.get('confirmPassword')?.touched && registrationForm.get('confirmPassword')?.errors?.['required']" styleClass="error-message"></p-message>
        <p-message severity="error" text="As senhas não coincidem." *ngIf="registrationForm.hasError('notSame') && registrationForm.get('confirmPassword')?.touched" styleClass="error-message"></p-message>
      </div>

      <!-- Grupo de Botões -->
      <div class="button-group" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button type="submit" pButton class="p-button-success" label="Registrar" [disabled]="registrationForm.invalid"></button>
        <button type="button" pButton class="p-button-secondary" label="Voltar" (click)="navigateToHomePage()"></button>
      </div>
    </form>
  </div>
</div>